* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Inter";
}

body {
  width: 70%;
  margin: 100px auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "p22-mackinac-pro";
  margin-bottom: 20px;
}

h1 {
  font-size: 45px;
  font-weight: bold;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 1.8;
  opacity: .5;
  margin-bottom: 15px;
}

a {
  color: #FF0000;
}

button {
  padding: 10px 15px;
  font-family: "Inter";
  font-size: 17px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

button.primary {
  background: #FF0000;
  color: #fff;
  border-color: #FF0000;
}

button.primary:hover {
  background: #f00000;
}

button.secondary {
  background: none;
  border-color: #e6e6e6;
}

button.secondary:hover {
  background: #f7f7f7;
}

header {
  width: 60%;
  margin-bottom: 100px;
}

header .cta {
  margin-top: 50px;
}

header .cta button {
  margin-right: 10px;
}

.filter-buttons {
  margin-bottom: 50px;
}

.filter-buttons button {
  margin-right: 10px;
  text-transform: capitalize;
}

.filter-buttons button.active {
  background: #FF0000;
  color: #fff;
  border-color: #FF0000;
}

.table-wrapper h2 {
  text-transform: capitalize;
}

.filter-table {
  display: none;
}

.filter-table.show {
  display: block;
}

#table {
  margin-bottom: 50px;
  overflow-x: scroll;
}

#table table {
  border-collapse: collapse;
  width: 100%;
}

#table table tr th, #table table tr td {
  border: 1px solid #e6e6e6;
  padding: 15px 30px 15px 15px;
}

#table table tr th {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 600;
}

#table table tr th:nth-child(1) {
  width: 35%;
}

#table table tr th:nth-child(2) {
  width: 30%;
}

#table table tr th:nth-child(3) {
  width: 35%;
}

.entry-btn {
  position: fixed;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 3;
  will-change: top;
}

.entry-btn.in-view {
  top: 30px;
}

@media screen and (max-width: 800px) {
  header {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .entry-btn {
    width: 90%;
  }
}

@media screen and (max-width: 380px) {
  header .cta button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  p {
    color: #fff;
    opacity: 0.4;
  }
  button.secondary {
    border-color: #1a1a1a;
    color: #fff;
  }
  button.secondary:hover {
    background: #0d0d0d;
  }
  #table table.table {
    color: #fff;
  }
  #table table.table tr th, #table table.table tr td {
    border-color: #1a1a1a;
  }
}
/*# sourceMappingURL=master.css.map */