$dark: #000;
$light: #fff;
// $highlight: #0046FF;
$highlight: #FF0000;

$cubic: cubic-bezier(0.19, 1, 0.22, 1);
$serif: 'p22-mackinac-pro';
$sans: 'Inter';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: none;
   appearance: none;
   // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-family: $sans;
}

body {
   width: 70%;
   margin: 100px auto;
}

h1, h2, h3, h4, h5, h6 {
   font-family: $serif;
   margin-bottom: 20px;
}

h1 {
   font-size: 45px;
   font-weight: bold;
}

p {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 17px;
   line-height: 1.8;
   opacity: .5;
   margin-bottom: 15px;
}

a {
   color: $highlight;
}

button {
   padding: 10px 15px;
   font-family: $sans;
   font-size: 17px;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: 5px;
   transition: .5s $cubic;

   &.primary {
      background: $highlight;
      color: $light;
      border-color: $highlight;

      &:hover {
         background: darken($color: $highlight, $amount: 3%);
      }
   }

   &.secondary {
      background: none;
      border-color: darken($color: $light, $amount: 10%);

      &:hover {
         background: darken($color: $light, $amount: 3%);
      }
   }
}

// header
header {
   width: 60%;
   margin-bottom: 100px;

   .cta {
      margin-top: 50px;
      
      button {
         margin-right: 10px;
      }
   }
}

// filter
.filter-buttons {
   margin-bottom: 50px;

   button {
      margin-right: 10px;
      text-transform: capitalize;

      &.active {
         background: $highlight;
         color: $light;
         border-color: $highlight;
      }
   }
}

// table
.table-wrapper {
   h2 {
      text-transform: capitalize;
   }
}

.filter-table {
   display: none;

   &.show {
      display: block;
   }
}

#table {
   margin-bottom: 50px;
   overflow-x: scroll;

   table {
      border-collapse: collapse;
      width: 100%;
      
      tr {
         th, td {
            border: 1px solid darken($color: $light, $amount: 10%);
            padding: 15px 30px 15px 15px;
         }

         th {
            text-align: left;
            margin-bottom: 10px;
            font-weight: 600;

            &:nth-child(1) {
               width: 35%;
            }
            &:nth-child(2) {
               width: 30%;
            }
            &:nth-child(3) {
               width: 35%;
            }
         }
      }
   }
}

// entry-btn 
.entry-btn {
   position: fixed;
   top: -100px;
   left: 50%;
   transform: translateX(-50%);
   transition: 1s $cubic;
   z-index: 3;
   will-change: top;

   &.in-view {
      top: 30px;
   }
}

@media screen and (max-width: 800px) {
   header {
      width: 100%;
   }
}

@media screen and (max-width: 600px) {
   body {
      width: 90%;
   }
}

@media screen and (max-width: 480px) {
   .entry-btn {
      width: 90%;
   }
}

@media screen and (max-width: 380px) {
   header {
      .cta {
         button {
            width: 100%;
            margin-bottom: 10px;
         }
      }
   }
}

@media (prefers-color-scheme: dark) {
   body {
      background: $dark;
   }

   h1, h2, h3, h4, h5, h6 {
      color: $light;
   } 

   p {
      color: $light;
      opacity: 0.4;
   }

   button {
      &.secondary {
         border-color: darken($color: $light, $amount: 90%);
         color: $light;

         &:hover {
            background: lighten($color: $dark, $amount: 5%);
         }
      }
   }

   #table {
      table.table {
         color: $light;
         
         tr {
            th, td {
               border-color: darken($color: $light, $amount: 90%);
            }
         }
      }
   }
}